* {
	margin: 0;
	padding: 0;
}
body.home-page {
	background-image: linear-gradient(
		to bottom,
		white,
		rgb(139, 228, 255),
		white
	);
}
div.content {
	display: inline-block;
	margin: 20px;
	padding: 10px;
}
div.image-design {
	position: relative;
	left: 70px;
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	margin: 10px;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.05);
}
img.home-des {
	margin: 10px;
	padding: 10px;
	height: 200px;
}
