* {
	margin: 0;
	padding: 0;
}
div.home-page {
	background-image: linear-gradient(
		to bottom,
		white,
		rgb(139, 228, 255),
		white
	);
}
div.navigation {
	justify-content: right;
	margin: 5px 40px;
	padding: 10px 20px;
}
div.navbar-nav > * {
	margin: 0 20px;
}
div.content {
	display: flex;
	flex-direction: row;
	margin: 20px;
	padding: 10px;
	justify-content: center;
}
div.content > * {
	margin: 20px 40px 20px 0px;
	padding: 30px;
}

div.image-design {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.05);
}
div.direction > * {
	position: relative;
	top: 300px;
	margin: 20px;
}
img.home-des {
	margin: 10px;
	padding: 10px;
	height: 200px;
}
a.started {
	position: relative;
	top: 370px;
	width: 250px;
	border-radius: 20px;
}

@media (max-width: 1250px) {
	div.content {
		display: flex;
		flex-direction: column;
	}
	div.direction {
		justify-content: right;
		text-align: right;
	}
	div.direction > * {
		top: 0px;
	}
}
